@import "./sassStyles/normalize.scss";
@import "./sassStyles/variables.scss";

.subtitle {
  position: relative;
  width: fit-content;
  margin: 20px auto;
  &:after {
    content: "";
    display: block;
    width: 80%;
    height: 2px;
    background-color: $primary_Color;
    position: absolute;
    top: 45px;
    left: 50%;
    transform: translateX(-50%);
  }
}
button {
  margin-top: 16px;
}
